body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/background_repeatable.gif);
	background-position: left top;
	background-repeat: repeat;
	height: 100%;
	min-height: 100%;
	min-width: 1008px;
	font-family: Arial, Helvetica;
}

.main-container {
	position: relative;
	z-index: 0;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	cursor: default;
	overflow: visible;
}

.header-container {
	margin: 20px auto;
	position: relative;
	width: 1008px;
	height: 425px;
	background-image: url(../images/superfly_header_frame.gif);
	padding: 0px;
}

#content-body {
	width: 978px;
	margin: 20px auto;
	padding: 20px 0 20px 0;
	position: relative;
	background-image: url(../images/content-background.gif);
	background-position: top bottom;
	border-radius: 6px;
	box-shadow: 0 1px 1px #AA9550;
}

.content-gallery {
	border-radius: 6px;
	border: solid 2px #AA9550;
	margin: 0 auto;
	width: 820px;
	text-align: center;
	background-color: #000;
	padding-top: 6px;
}
.gallery {	
	margin: 0 auto;
	text-align: center;
	width:680px;
}
.gallery img {
	border: 2px solid #AA9550;
	width: 211px;
	height: 159px;
}

#content-header {
	background-color: #000;
	width: 958px;
	text-align: right;
	padding: 10px;
}

.user-span {
	display: inline-block;
	background-image: url(../images/gear.gif);
	background-position: right;
	background-repeat: no-repeat;
	height: 20px;
	padding-right: 30px;
}

#content-header a {
	color: #AA9550;
	text-decoration: none;
	font-size: 14px;
}

.content-left {
	color: #E2D9BA;
	width: 25%;
	border-right: 1px solid #AA9550;
	float: left;
}

.content-right {
	width: 70%;
	float: right;
	font-size: 14px;
	font-family: Arial, Helvetica;
	color: #AA9550;
}

/* start of login */
#superfly-login {
	margin: 20px;
	padding: 10px;
	font: 12px Arial, Helvetica;
	background-color: #000;
	border-radius: 6px;
	box-shadow: 0 1px 1px #AA9550;
}

#superfly-login span {
	display: inline-block;
	text-align: center;
	font: bold 16px Arial, Helvetica;
	color: #AA9550;
	width: 180px;
}

.div-wrapper .login-textbox {
	float: right;
	width: 110px;
	height: 15px;
	font: 12px Arial, Helvetica;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.superfly_btn {
	width: 90px;
	height: 35px;
	border: none;
}

.login_btn {
	background-image: url(../images/buttons/superfly_btn.gif);
}

.save_btn {
	background-image: url(../images/buttons/save_btn.gif);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div-wrapper .login-password {
	float: right;
	width: 110px;
	height: 15px;
	font: 12px Arial, Helvetica;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div-wrapper label {
	float: left;
	font-weight: bold;
	font-style: Arial, Helvetica;
	color: #AA9550;
}

#navlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navlist li {
	padding-left: 20px;
	background-image: url(../images/menu_icon/grey_arrow.gif);
	background-repeat: no-repeat;
	width: 100;
	height: 15;
}

#navlist li a {
	font: 12px Arial, Helvetica;
	font-weight: bold;
	color: #AA9550;
	text-decoration: none;
}
/* end of login */

.content-right div {
	width: 90%;
	padding: 0 0 0 20px;
	font-family: Arial, Helvetica;
	color: #AA9550;
}
.content-awards {
	font-family: Arial, Helvetica;
	color: #AA9550;
	margin: 0 10px;
}

/* dropdown menu */
div.main-container .nav-wrapper {
	margin: 20px auto;
	position: relative;
	width: 978px;
	padding: 0px;
}

#menu,#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu { /*width: 960px;*/
	width: 978;
	border: 1px solid #222;
	background-color: #000000;
	border-radius: 6px;
	box-shadow: 0 1px 1px #AA9550;
	/*background-image: linear-gradient(#444, #111);
	border: solid 3px #AA9550;*/
}

#menu:before,#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu {
	zoom: 1;
}

#menu li {
	float: left;
	border-right: 1px solid #AA9550;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 12px 30px;
	color: #AA9550;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover>a {
	color: #fafafa;
}

* html #menu li a:hover { /* IE6 only */
	color: #fafafa;
}

/* sub menu */
#menu ul {
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1;
	background: #000000;
	/*background: linear-gradient(#444, #111);*/
	box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
	border-radius: 3px;
	transition: all .2s ease-in-out;
}

#menu li:hover>ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#menu ul ul {
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
}

#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {
	box-shadow: none;
}

#menu ul a {
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#menu ul a:hover {
	background-color: #0A1604;
	background-image: linear-gradient(#0A1604, #0A1604);
}

/* footer */
#superfly-footer {
	margin: 20px auto;
	position: relative;
	width: 978px;
	padding: 0px;
	border: 1px solid #222;
	background-color: #000000;
	border-radius: 6px;
	box-shadow: 0 1px 1px #AA9550;
	color: #AA9550;
	padding: 12px 0 12px 0;
	font-size: 14px;
}

.box-link {
	margin: 0 auto;
	width: 600px;
	padding: 0 auto;
	float: left;
}

.box-link ul {
	width: 600px;
}

.box-link  ul li {
	padding: 0 auto;
	display: inline-block;
	width: 150px;
	min-height: 80px;
}

.box-link  ul li a {
	color: #AA9550;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

/* common */
.space-clear {
	clear: both;
}

.space-break {
	width: 100%;
	height: 10px;
}

.div-wrapper {
	width: 100%;
	height: 20px;
	text-align: center;
}
video {
	opacity: 0.6;
	border: 2px solid #AA9550;
	width: 211px;
	height: 159px;
}
#video-background {
	background-image: url(../images/video_background.gif);
	background-repeat: no-repeat;
	padding: 0 6px 8px 6px;
	left: 0px;
	top: 0px;
	/*width: 219px;
	height: 167px;*/
	width: 211px;
	height: 159px;
	z-index: 1;
	float: left;
	text-align: center;
}
/* start table styles */
.table {
    display:table;
	border-radius: 6px;
	border: solid 2px #AA9550;
	margin: 0 auto;
	text-align: center;
	/*width: 820px;*/
	background-color: #000;
	font: bold 12px Arial, Helvetica;
}
.header {
    display:table-header-group;
    font-weight:bold;
	color: #AA9550;
}
.rowGroup {
    display:table-row-group;
    background-color: #ffffff;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
    width:25%;
    border-left: 1px solid #AA9550;
}
/* end table styles */

/* start loader */
#progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: grey;
	opacity: .8;
}

.ajax-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px; /* -1 * image width / 2 */
	margin-top: -32px; /* -1 * image height / 2 */
	display: block;
	color: #000;
	font-weight: bold;
	text-align: center;
}
/* end loader */
#cke_editor1 {
	border-style: none;
}

/* jquery ui style */
.ui-widget,.ui-widget button {
	font-size: 62.5%;
}

.ui-dialog,.ui-dialog-content {
	background-image: url(../images/background_repeatable.gif) ! important;
	background-position: left top;
	background-repeat: repeat;
	border: 4px solid #AA9550;
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #000000;
	background-image: none;
	border: medium none;
	color: #AA9550;
}

.ui-dialog .ui-dialog-buttonpane {
	background-color: #000000;
	border: none;
	border-radius: 6px;
	font: 12px Arial, Helvetica;
}